form{
    position: relative;
}
form>img{
    position: absolute;
    top: 3px;
    padding-left:5px ;
}
input{
    padding:3px 23px;
}
form>button{
    position: absolute;
}
.go{
    top:3px;
    right: 80px;
}
.exit{
    top: 3px;
    right: 50px;
}
.from-item-container{
    width: 270px;
}

.main-container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main-container>div>img{
    width: 25px;
}